/* Common */
body {
  min-width: 320px;
  margin: 0;
  background-color: #000;
  font-family: 'Noto Sans KR', sans-serif;
  color: #fff;
}

img {
  display: block;
}

input {
  color: #909090;
}

button {
  box-sizing: border-box;
}

.visually_hidden {
  position: absolute !important;
  width: 0px !important;
  height: 0px !important;
  padding: 0 !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.gnb,
.srch_area {
  padding: 0 15px;
}

.com_header {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: -0.16px;
}

.com_hd_tit {
  padding-top: 32px;
  margin-top: 0;
  margin-bottom: 12px;
  word-break: break-all;
}

.com_hd_tit > span {
  font-size: 22px;
  line-height: 16px;
  letter-spacing: -0.16px;
}

.com_hd_sub_tit {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: -0.16px;
  word-break: break-all;
}

.txt_thin {
  font-weight: 300;
}

.outlined_btn {
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
}

.overlay.is_active {
  opacity: 1;
}

/* Header */
.header {
  position: relative;
  border-bottom: 1px solid gray;
  background-color: #191919;
  z-index: 30;
}

.header .user_info {
  /* TODO */
  display: none;
}

.header .gnb_srch_area {
  position: relative;
}

.header .gnb_srch_area h1 {
  width: 100%;
  padding: 13px 0;
  font-size: 15px;
  font-style: italic;
  text-align: center;
  letter-spacing: -0.16px;
}

.header .gnb_srch_area .ic_menu {
  position: absolute;
  top: 50%;
  left: 0;
  width: 17px;
  height: 11px;
  transform: translate(0, -50%);
  background: url('/images/icons/menu.png') no-repeat;
  background-size: contain;
}

.header .gnb_srch_area .ic_search {
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  height: 16px;
  background: url('/images/icons/glasses.png') no-repeat;
  background-size: contain;
  transform: translate(0, -50%);
}

/* MAIN SEARCH AREA */
.srch_area {
  position: relative;
  padding-bottom: 26px;
  background: url('/images/main_search_area_bg.jpg') no-repeat;
  background-size: cover;
}

.srch_area_wrap {
  position: relative;
  background-color: rgba(0, 0, 0, 0.65);
  margin: 0 -15px;
}

.srch_area_hd {
  padding: 50px 15px 17px 15px;
}

.srch_area_hd h2 {
  margin: 0;
  font-size: 27px;
  text-align: center;
  line-height: 32px;
  letter-spacing: -0.16px;
  word-break: break-all;
}

.srch_area_hd h2 > span {
  line-height: 1;
}

.srch_area_cont {
  margin: 0 15px;
  padding: 9px 0;
  border: 2px solid #fff;
  border-radius: 20px;
}

.srch_form_wrap {
  position: relative;
  display: flex;
  margin: 0 15px;
}

.srch_form_wrap::after {
  content: '|';
  position: absolute;
  top: -2px;
  left: 56px;
  font-size: 12px;
  margin: -2px 15px 0;
  color: #5d5d5c;
}

.srch_form_wrap select,
.srch_form_wrap input {
  font-size: 11px;
  background-color: transparent;
  letter-spacing: -0.16px;
}

.srch_form_wrap select {
  padding-right: 10px;
  color: #fff;
}

.srch_form_wrap input {
  position: relative;
  width: 100%;
  margin-left: 10px;
  padding: 0 20px 0 4px;
  color: #b5b5b5;
}

.srch_form_wrap button {
  position: absolute;
  top: 50%;
  right: 0;
  width: 13px;
  height: 13px;
  background: url('/images/icons/glasses.png') no-repeat;
  background-size: cover;
  transform: translate(0, -50%);
}

.srch_area_bread {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 26px;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

.srch_area_bread span {
  font-size: 10px;
  font-weight: 100;
  letter-spacing: -0.016px;
  word-break: break-all;
}

/* PRODUCT CATEGORY */
.prdt_ctgr {
  background-color: #282828;
}

.prdt_ctgr_cont ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  margin: 0;
  border-top: 1px solid #383838;
}

.prdt_ctgr_cont li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 165px;
  border-bottom: 1px solid #383838;
}

.prdt_ctgr_cont li:nth-child(2n + 1) {
  border-right: 2px solid #383838;
}

.prdt_ctgr_cont li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.prdt_ctgr_cont .img_wrap {
  width: 85px;
  height: 85px;
  overflow: hidden;
}

.prdt_ctgr_cont li img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.prdt_ctgr_cont li p {
  position: absolute;
  bottom: 15px;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0 12px;
  font-size: 12px;
  text-overflow: ellipsis;
  text-align: center;
  word-break: break-all;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

/* TOPICS */
.topics {
  background-color: #282828;
}

.topics_cont ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  margin: 0;
  border-top: 1px solid #383838;
}

.topics_cont li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 150px;
  border-bottom: 2px solid #383838;
}

.topics_cont li:nth-child(2n + 1) {
  border-right: 2px solid #383838;
}

.topics_cont li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px 0;
}

.topics_cont .img_wrap {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.topics_cont li img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.topics_cont li a > p {
  position: absolute;
  bottom: 15px;
  display: inline-block;
  margin: 0;
  font-size: 12px;
  text-align: center;
}

/* RECENT SEARCHED */
.recent_searched {
  background-color: #282828;
  border-bottom: 2px solid #383838;
}

.recent_searched_cont {
  padding: 0 15px;
  margin-bottom: 40px;
}

.cont_wrap {
  position: relative;
}

.item_list_wrap {
  position: relative;
  padding: 0 30px;
}

.item_list_wrap ul {
  display: flex;
  justify-content: center;
  margin: 0;
}

.item_list_wrap ul li {
  display: flex;
  width: 540px;
  padding: 32px 32px;
  background-color: #333333;
}

.item_list_wrap img {
  display: block;
  margin-right: 12px;
}

.recent_searched_item_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent_searched_item_desc p {
  margin: 0 0 16px;
  color: #bbbbbb;
  font-size: 10px;
  font-weight: 100;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.16px;
}

.recent_searched_item_desc a {
  display: inline-block;
  padding: 4px 22px 4px 22px;
  border: 1px solid #bbbbbb;
  border-radius: 20px;
}

.recent_searched_item_desc span {
  display: block;
  margin-top: 0px;
  color: #bbbbbb;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.16px;
}

.item_list_wrap img {
  display: block;
  width: 55px;
  object-fit: contain;
}

.recent_searched_cont .ic_arrow {
  position: absolute;
  top: 50%;
  width: 15px;
  height: 23px;
  transform: translate(0, -50%);
}

.recent_searched_cont .left_btn {
  left: 0;
  background: url('/images/icons/left_arrow.png') no-repeat;
  background-size: contain;
}

.recent_searched_cont .right_btn {
  right: 0;
  background: url('/images/icons/right_arrow.png') no-repeat;
  background-size: contain;
}

/* NEWS LETTER */
.news_letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 30px 40px;
  background-color: #282828;
}

.news_letter header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.045em;
}

.news_letter_bg {
  width: 270px;
  height: 270px;
  margin-bottom: 28px;
  background: url('/images/newsletter_bg.jpg') no-repeat;
  background-size: cover;
}

.news_letter_bg::after {
  content: '';
  display: block;
  width: 270px;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.6);
}

.com_hd_tit {
  font-size: 22px;
  line-height: 23px;
}

.news_letter_sub_tit {
  margin: 0 -15px 25px;
  font-size: 15px;
  font-weight: 100;
  line-height: 15px;
}

.news_letter_cont {
  display: inline-block;
  padding: 8px 25px;
  border: 1px solid #fff;
  font-size: 11px;
  letter-spacing: 0.16px;
}

/* FOOTER */
.footer {
  padding: 0 30px;
  background-color: #1f1f1f;
  font-weight: 100;
}

/* FOOTER - OUT */
.ft_out_cont strong {
  display: inline-block;
  margin: 37px 0 20px;
  font-size: 15px;
  font-weight: 400;
}

.ft_out_cont strong:last-child {
  margin-bottom: 40px;
}

.ft_out_cont ul {
  margin: 0;
}

.ft_out_cont li {
  font-size: 14px;
  color: #bbbbbb;
  line-height: 24px;
}

.ft_out_cont li a:hover {
  color: #36b2ff;
  text-decoration: underline;
}

.footer .ft_srch {
  margin: 0 -30px;
  background-color: #000;
}

.ft_srch_cont {
  padding: 27px 30px 22px;
}

.ft_srch_cont form {
  position: relative;
  margin-bottom: 27px;
}

.ft_srch_cont form input {
  width: 100%;
  padding: 9px 30px 9px 9px;
  font-size: 14px;
  border: 1px solid #909090;
  box-sizing: border-box;
}

.ft_srch_cont form button {
  position: absolute;
  top: 50%;
  right: 9px;
  width: 13px;
  height: 13px;
  background: url('/images/icons/glasses.png') no-repeat;
  background-size: cover;
  transform: translate(0, -50%);
}

.ft_out_info {
  display: flex;
  align-items: flex-end;
}

.ft_out_info ul {
  margin: 0;
}

.ft_out_info li {
  font-size: 13px;
  line-height: 25px;
}

.sns_group {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
}

.sns_icon {
  display: block;
  background: url('/images/icons/css_sprites.png');
  background-size: 61px 45px;
}

.ic_facebook {
  width: 9px;
  height: 13px;
  background-position: -48px -5px;
  background-repeat: no-repeat;
}

.ic_twitter {
  width: 12px;
  height: 10px;
  background-position: -25px -24px;
  background-repeat: no-repeat;
}

.ic_youtube {
  width: 14px;
  height: 10px;
  background-position: -24px -5px;
  background-repeat: no-repeat;
}

.ic_pinterest {
  width: 14px;
  height: 14px;
  background-position: -3px -4px;
  background-repeat: no-repeat;
}

.ic_houzz {
  width: 10px;
  height: 13px;
  background-position: -5px -27px;
  background-repeat: no-repeat;
}

/* SEARCH MODAL */
.search_modal {
  display: none;
}

.search_modal.is_active {
  display: block;
}

.search_modal_wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 47px;
  padding: 0 15px;
  background-color: #191919;
  color: #8b8b8b;
  box-sizing: border-box;
}

.search_modal_wrap form {
  display: flex;
  position: relative;
  width: 100%;
}

.search_modal_wrap form input {
  flex-grow: 1;
  width: 100%;
  padding: 6px 24px 6px 6px;
  font-size: 12px;
  border: 1px solid #8b8b8b;
  border-radius: 4px;
}

.search_modal_wrap .ic_search {
  position: absolute;
  top: 50%;
  right: 6px;
  width: 13px;
  height: 13px;
  background: url('/images/icons/glasses.png') no-repeat;
  background-size: cover;
  transform: translate(0, -50%);
}

.search_modal_wrap .ic_close {
  width: 13px;
  height: 13px;
  margin-left: 14px;
  background: url('/images/icons/close.png') no-repeat;
  background-size: cover;
}

/* LOGIN MODAL */
.login_modal {
  display: none;
  position: fixed;
  top: 78px;
  left: 50%;
  width: 300px;
  background-color: #282828;
  border: 1px solid #fff;
  box-sizing: border-box;
  transform: translate(-50%, 0%);
}

.login_modal.is_active {
  display: block;
}

.login_modal_wrap {
  padding: 0 30px;
}

.login_modal header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  margin-bottom: 90px;
}

.login_modal strong {
  font-size: 21px;
  font-style: italic;
  letter-spacing: -0.8px;
}

.login_modal header button {
  width: 12px;
  height: 12px;
  background: url('/images/icons/close.png') no-repeat;
  background-size: contain;
}

.login_modal_cont h3 {
  font-size: 19px;
  margin-bottom: 92px;
}

.login_modal_cont h3 span {
  font-weight: 100;
}

.login_modal_cont input {
  color: #fff;
}

.input_id,
.input_pw {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
  padding-bottom: 9px;
  border-bottom: 1px solid #474747;
}

.input_id input,
.input_pw input {
  width: 100%;
  padding: 0 8px;
}

.ic_user,
.ic_pwd {
  display: block;
  width: 18px;
  height: 13px;
  background-position: 5px;
}

.ic_user {
  background: url('/images/icons/user.png') no-repeat;
  background-size: contain;
}

.ic_pwd {
  background: url('/images/icons/hold.png') no-repeat;
  background-size: contain;
}

.input_check {
  display: flex;
  justify-content: space-between;
  margin-bottom: 29px;
}

.check_remember {
  display: flex;
}

.input_check label {
  font-size: 11px;
  color: #c2c2c2;
}

.input_check input {
  margin-right: 5px;
}

.input_check a {
  font-size: 11px;
  color: #8a8a8a;
  letter-spacing: -0.16px;
}

.login_modal_cont button {
  width: 100%;
  height: 39px;
  margin-bottom: 37px;
  background-color: #000;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.16px;
}

/* UNABLE TO LOGIN MODAL */
.unable_login_modal {
  display: none;
  position: absolute;
  top: 78px;
  left: 50%;
  width: 223px;
  padding: 0 25px;
  background-color: #282828;
  border: 1px solid #fff;
  box-sizing: border-box;
  transform: translate(-50%, 0%);
}

.unable_login_modal.is_active {
  display: block;
}

.unable_login_modal header button {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  margin: 20px;
  background: url('/images/icons/close.png') no-repeat;
  background-size: contain;
}

.unable_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 59px;
}

.unable_cont_icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 23px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.unable_cont_icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 18px;
  height: 23px;
  transform: translate(-50%, -50%);
  background: url('/images/icons/hold.png') no-repeat;
}

.unable_cont strong {
  font-size: 17px;
  letter-spacing: -0.16px;
}

.unable_cont p {
  margin-bottom: 26px;
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  line-height: 14px;
  letter-spacing: -0.8px;
}

.unable_cont button {
  padding: 10px 28px;
  margin-bottom: 25px;
  font-size: 11px;
  background-color: #fff;
  letter-spacing: -0.16px;
}

/* RESET PASSWORD MODAL */
.reset_password_modal {
  display: none;
  position: absolute;
  top: 78px;
  left: 50%;
  width: 223px;
  padding: 0 25px;
  background-color: #282828;
  border: 1px solid #fff;
  box-sizing: border-box;
  transform: translate(-50%, 0%);
}

.reset_password_modal.is_active {
  display: block;
}

.reset_password_modal header button {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  margin: 20px;
  background: url('/images/icons/close.png') no-repeat;
  background-size: contain;
}

.reset_pwd_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 59px;
}

.reset_pwd_cont_icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 23px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.reset_pwd_cont_icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 21px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: url('/images/icons/reset_pwd.png') no-repeat;
  background-size: contain;
}

.reset_pwd_cont strong {
  font-size: 17px;
  letter-spacing: -0.16px;
}

.reset_pwd_cont p {
  margin-bottom: 26px;
  font-size: 12px;
  font-weight: 100;
  text-align: center;
  line-height: 14px;
  letter-spacing: -0.8px;
}

.reset_pwd_cont button {
  padding: 10px 28px;
  margin-bottom: 25px;
  font-size: 11px;
  background-color: #fff;
  letter-spacing: -0.16px;
}

/* RESET PASSWORD CONFIRM MODAL */
.reset_pwd_cfm_modal {
  display: none;
  position: absolute;
  top: 78px;
  left: 50%;
  width: 223px;
  padding: 0 25px;
  background-color: #282828;
  border: 1px solid #fff;
  box-sizing: border-box;
  transform: translate(-50%, 0%);
}

.reset_pwd_cfm_modal.is_active {
  display: block;
}

.reset_pwd_cfm_modal header button {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  margin: 20px;
  background: url('/images/icons/close.png') no-repeat;
  background-size: contain;
}

.reset_pwd_cfm_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 59px;
}

.reset_pwd_cfm_cont_icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 23px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.reset_pwd_cfm_cont_icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 21px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: url('/images/icons/reset.png') no-repeat;
  background-size: contain;
}

.reset_pwd_cfm_cont strong {
  font-size: 17px;
  letter-spacing: -0.16px;
}

.reset_pwd_cfm_cont p {
  margin-bottom: 26px;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  line-height: 17px;
  letter-spacing: -0.8px;
}

.btn_group {
  display: flex;
  justify-content: space-between;
}

.reset_pwd_cfm_cont button {
  padding: 8px 30px;
  margin-bottom: 25px;
  font-size: 11px;
  background-color: #fff;
  letter-spacing: -0.16px;
}

.reset_pwd_cfm_cont button:first-child {
  margin-right: 9px;
}

/* LOGOUT CONFIRM MODAL */
.logout_cfm_modal {
  display: none;
  position: absolute;
  top: 78px;
  left: 50%;
  width: 223px;
  padding: 0 25px;
  background-color: #282828;
  border: 1px solid #fff;
  box-sizing: border-box;
  transform: translate(-50%, 0%);
}

.logout_cfm_modal.is_active {
  display: block;
}

.logout_cfm_modal header button {
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  margin: 20px;
  background: url('/images/icons/close.png') no-repeat;
  background-size: contain;
}

.logout_cfm_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 59px;
}

.logout_cfm_cont_icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin-bottom: 23px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.logout_cfm_cont_icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 21px;
  height: 22px;
  transform: translate(-50%, -50%);
  background: url('/images/icons/logout.png') no-repeat;
  background-size: contain;
}

.logout_cfm_cont strong {
  display: block;
  margin-top: 8px;
  font-size: 17px;
  letter-spacing: -0.16px;
}

.logout_cfm_cont p {
  margin-bottom: 26px;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  line-height: 17px;
  letter-spacing: -0.8px;
}

.btn_group {
  display: flex;
  justify-content: space-between;
}

.logout_cfm_cont button {
  padding: 8px 30px;
  margin-bottom: 25px;
  font-size: 11px;
  background-color: #fff;
  letter-spacing: -0.16px;
}

.logout_cfm_cont button:first-child {
  margin-right: 9px;
}

/* SIDEBAR */
.sidebar {
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  width: 200px;
  padding: 22px 0 25px 15px;
  background-color: #282828;
  box-sizing: border-box;
  z-index: 20;
}

.sidebar.is_active {
  display: block;
}

.drawer_icon {
  display: block;
  width: 10px;
  height: 6px;
  margin-top: 2px;
  margin-right: 18px;
  background: url('/images/icons/drawer.png') no-repeat;
  background-size: contain;
}

.drawer_menu {
  margin-left: -15px;
  padding-left: 15px;
}

.drawer_menu.is_active .drawer_icon {
  display: block;
  width: 10px;
  height: 6px;
  margin-top: 2px;
  margin-right: 18px;
  transform: rotate(180deg);
  background: url('/images/icons/drawer.png') no-repeat;
  background-size: contain;
}

.drawer_menu a {
  display: block;
  width: 100%;
}

.drawer_menu span {
  color: #b3b3b3;
  font-size: 11px;
  font-weight: 200;
  letter-spacing: -0.4px;
}

.drawer_menu.is_active span {
  color: #fff;
}

.drawer_menu_tit {
  padding-left: 15px;
}

.drawer_menu_cont li {
  margin-left: -15px;
  padding-left: 30px;
}

.drawer_menu_cont li:hover {
  background-color: #383838;
}

.drawer_menu_cont li a {
  display: block;
  color: #a4a4a4;
  font-size: 10px;
  font-weight: 100;
  line-height: 24px;
}

.drawer_menu_button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

.drawer_menu .log_btn {
  padding: 0;
  font-size: 11px;
  font-weight: 200;
  color: #a4a4a4;
  letter-spacing: -0.4px;
}

/* @media screen and (min-width: 813px) {
  .header .user_info {
    display: block;
  }
} */
